
#fundo{
    margin: 20px auto;
    min-width: 300px;
    max-width: 1560px;
    background-color: #DCDCDC;
    border: none;
}

.centralizado{
    text-align: center;
}
ul.centralizado {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
}

#fundo > fieldset{
    max-width: 1500px;
    min-width: 200px;
    background-color: white;
    border: none;
}
/*Ver como ajustar a imagem pra ficar sempre dentro do fieldset*/
img{
    display:block;
    margin: auto;
    max-width: 100%;
}